[run]
# Exclude specific files or directories
omit =
    tests/*
    venv/*
    bountybench/*
    frontend/*
    setup.sh
    tools/*
    media/*
    *.txt
    *.json
    *.list
    *.toml
    */tmp*
    */_remote_module*
    */T/tmp*

[report]
# Show missing lines in the report
show_missing = True
