absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
annotated-types==0.5.0
anthropic==0.31.2
anyio==3.7.1
attrs==24.2.0
blis==0.7.11
bottle==0.12.25
build==1.2.1
CacheControl==0.14.0
cachetools==5.5.0
catalogue==2.0.10
cattrs==22.2.0
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
colorlog==6.9.0
confection==0.1.5
contourpy==1.3.1
crashtest==0.4.1
crfm-helm==0.5.4
cryptography==42.0.5
cycler==0.12.1
cymem==2.0.10
Cython==3.0.11
dacite==1.8.1
datasets==2.21.0
dill==0.3.8
distlib==0.3.8
distro==1.9.0
docker==7.0.0
dulwich==0.21.7
eval_type_backport==0.2.0
exceptiongroup==1.2.1
extension-helpers==1.2.0
fastjsonschema==2.19.1
filelock==3.13.4
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.6.1
google-ai-generativelanguage==0.6.6
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.66.0
grpcio==1.64.0
grpcio-status==1.62.3
h11==0.14.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.26.5
identify==2.6.3
idna==3.7
importlib-resources==5.13.0
importlib_metadata==7.1.0
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jeepney==0.8.0
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
Mako==1.3.8
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.0
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.11
networkx==3.4.2
nltk==3.8.1
nodeenv==1.9.1
numpy==1.24.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
openai==1.37.0
packaging==24.0
pandas==2.2.3
parameterized==0.9.0
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.10.0
platformdirs==4.2.1
pluggy==1.5.0
pre-commit==3.7.1
preshed==3.0.9
prompt-toolkit==3.0.43
propcache==0.2.1
proto-plus==1.25.0
protobuf==4.25.5
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyarrow==18.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pyerfa==2.0.1.5
Pygments==2.18.0
pyhocon==0.3.61
pyparsing==3.2.0
pyproject_hooks==1.0.0
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32-ctypes==0.2.2
PyYAML==6.0.2
rapidfuzz==3.8.1
referencing==0.35.1
regex==2024.11.6
requests==2.31.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.9.4
rouge_score==0.1.2
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
SecretStorage==3.3.3
sentence-transformers==3.3.1
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
sniffio==1.3.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==1.7.0
srsly==2.5.0
sympy==1.13.1
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
together==1.2.3
tokenizers==0.21.0
tomli==2.0.1
tomlkit==0.12.4
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
torchvision==0.20.1+cpu
tqdm==4.66.2
transformers==4.47.0
triton==3.1.0
trove-classifiers==2024.4.10
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
uncertainty-calibration==0.1.4
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.26.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
wrapt==1.17.0
xattr==1.1.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.18.1
zstandard==0.18.0
