.input-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
  }
  
  .input-container .MuiInputBase-root {
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  .input-container .MuiOutlinedInput-root {
    border-color: #333333;
  }
  
  .input-container .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #4a4a4a;
  }
  
  .input-container .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #266798;
  }

  .input-container .MuiInputBase-input {
    font-size: 0.8rem;
  }