.interactions-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.interactions-header {
  padding: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
}

.input-and-buttons-container {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
}

.input-wrapper {
  flex-grow: 1;
  margin-right: 16px;
}

.next-button-wrapper {
  flex-shrink: 0;
}

/* Ensure the InputContainer takes up all available space */
.input-wrapper > * {
  width: 100%;
}

/* Optional: Adjust button size */
.next-button-wrapper button {
  min-width: 80px; /* Adjust as needed */
  padding: 6px 12px;
}

.messages-container {
  flex: 1;
  padding: 7px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%
}

.buttons-wrapper button {
  margin-bottom: auto;
  margin-top: auto;
}

.input-and-buttons-container .MuiOutlinedInput-root {
  border-radius: 4px;
  height: 32px;
  width: 108px;
}

.input-and-buttons-container .MuiOutlinedInput-input {
  color: #000; /* Black text */
}

.input-and-buttons-container .MuiOutlinedInput-notchedOutline {
  border-color: #132f4c !important; /* Override the border color to be visible */
}

.input-and-buttons-container .MuiInputLabel-outlined {
  color:#132f4c !important; /* Override the border color to be visible */
}