.workflow-resources {
    padding: 15px;
    background-color: #266798;
    border-left: 1px solid #215a85;
    overflow-y: auto;
    height: 100%;
  }
  
  .resource-item {
    margin-bottom: 20px;
    background-color: white;
    color: #333;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .resource-item h4 {
    margin-top: 0;
    color: #333;
  }
  
  .resource-item details {
    margin-top: 10px;
  }
  
  .resource-item summary {
    cursor: pointer;
    color: #007bff;
  }
  
  .resource-item pre {
    background-color: #f8f9fa;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
  }