.resources-container {
  height: 100%;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.resources-list {
  max-height: 200px;
  overflow: auto;
}

.resource-item {
  &:hover {
    background-color: rgba(144, 202, 249, 0.08) !important;
  }
  margin-bottom: 8px;
}

.resource-icon {
  min-width: 40px !important;
}

.resource-text {
  & .MuiListItemText-secondary {
    color: rgba(255, 255, 255, 0.5);
  }
}
